@import logic.ViewHelpers

@(accountName: String, authConfigKey: String)

<div class="account">

    <p>
        <a class="grey-text darken-2" href="/audit/account/@authConfigKey">View Audit Trail <i class="material-icons">assignment</i></a>
    </p>
    <p>
        <a class="grey-text darken-2" href="/roles-status/account/@authConfigKey">View Roles <i class="material-icons">assignment</i></a>
    </p>
    <p>
        <a class="grey-text darken-2" href="/users/account/@authConfigKey">View Users <i class="material-icons">assignment</i></a>
    </p>

</div>
