@import logic.ViewHelpers.BannerLevel

@(ariaRegion: String, level: BannerLevel)(message: Html)(cta: Html)


<div role="region" aria-label="@ariaRegion">
    <div class="main-banner @BannerLevel.cssClass(level)" role="status" aria-atomic="true">
        <div class="container main-banner__container">
            <div class="main-banner__message">
                @message
            </div>
            <div class="main-banner__cta">
                @cta
            </div>
        </div>
    </div>
</div>
