@import models.AwsAccountAccess
@import logic.Customisation.displayColour
@import models.DisplayMode
@import models.DisplayMode.*

@import logic.DeveloperPolicies
@(accountAccess: AwsAccountAccess, allowFavs: Boolean, displayMode: DisplayMode = Normal)

                @for((grant, policies) <- accountAccess.developerPolicies
                ) {
                    <div class="card-content card-content--aws-account-header @displayColour(displayMode) darken-4 white-text">
                        <p>@grant.name</p>
                    </div>
                    @for((policy, policyPerm) <- policies.map(p => p -> DeveloperPolicies.toPermission(p, grant))) {
                        <div class="card-content card-content--permission-heading">
                            <div class="card-content--permission-heading__text">
                                <span class="developer-policy-stage-inline" title="Stage: @policy.stage">
                                    <i class="material-icons tiny" aria-hidden="true">layers</i>
                                    <span class="sr-only">Stage:</span>
                                    @policy.stage
                                </span>
                                @policyPerm.description
                                @if(policyPerm.shortTerm) {
                                    <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="This permission only grants short-term access">error</i>
                                }
                                <span class="developer-policy-info">
                                    <button type="button"
                                            class="developer-policy-info-btn"
                                            aria-describedby="policy-info-sr-@policyPerm.id">
                                        <i class="material-icons tiny" aria-hidden="true">info_outline</i>
                                        <span class="sr-only">Policy details</span>
                                    </button>
                                    <span id="policy-info-sr-@policyPerm.id" class="sr-only">
                                        AWS policy: @policy.policyName.
                                        Defined in: @policy.sourceRepo.
                                        Deployed in stack: @policy.stack.
                                        Deployed to stage: @policy.stage.
                                    </span>
                                    <div class="developer-policy-info-tooltip" aria-hidden="true">
                                        <div class="developer-policy-info-tooltip__key">@policy.policyName</div>
                                        <div class="developer-policy-info-tooltip__body">
                                            <span class="developer-policy-info-tooltip__label">Defined in</span>
                                            <span class="developer-policy-info-tooltip__value">@policy.sourceRepo</span>
                                            <span class="developer-policy-info-tooltip__label">Deployed in stack</span>
                                            <span class="developer-policy-info-tooltip__value">@policy.stack</span>
                                            <span class="developer-policy-info-tooltip__label">Deployed to stage</span>
                                            <span class="developer-policy-info-tooltip__value">@policy.stage</span>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="card-action card-action--permission">
                            <div class="card-action-group__row row">
                                <div class="card-action-group col m6 s12">
                                    <a href="/console?permissionId=@policyPerm.id"
                                       class="waves-effect waves-light btn federation__link federation__link--cta federation__link--@if(policyPerm.shortTerm) {short} else {standard} card-action-link--spaced"
                                    >
                                        <i class="material-icons">cloud</i>
                                    </a>
                                    <a href="/consoleUrl?permissionId=@policyPerm.id"
                                       class="right waves-effect waves-light btn-flat federation__link janus-btn--flat card-action-link--tight federation__link--@if(policyPerm.shortTerm) {short} else {standard}"
                                    >
                                        <i class="material-icons black-text">link</i>
                                    </a>
                                </div>
                                <div class="card-action-group card-action-group--divider col m6 s12">
                                    <a href="/credentials?permissionId=@policyPerm.id"
                                       class="waves-effect waves-light btn federation__link federation__link--cta federation__link--credentials federation__link--@if(policyPerm.shortTerm) {short} else {standard}"
                                    >
                                        <i class="material-icons">vpn_key</i>
                                    </a>
                                    @if(!policyPerm.shortTerm) {
                                        <div class="multi-select__container right">
                                            <label class="multi-select__label">
                                                <input class="multi-select__checkbox" type="checkbox" name="@policyPerm.id" id="@policyPerm.id" data-permission-id="@policyPerm.id">
                                                <span></span>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }

                @* Show a lower divider if there is content to divide *@
                @if(accountAccess.developerPolicies.nonEmpty && accountAccess.permissions.nonEmpty) {
                    <hr class="aws-account-body__section-divider">
                }
