@import logic.DeveloperPolicies.developerPolicyLink

@(policy: DeveloperPolicy)

<li class="provisioned-role-item">
    <div class="provisioned-role-item-janus expand">
        <div class="provisioned-role-item-header"  aria-label="Friendly name of role">
            @{policy.friendlyName.getOrElse("No friendly name")}
        </div>
        <div class="provisioned-role-item-entry grey-text provisioned-role-description expand" aria-label="Description of role">
            @{policy.description}
        </div>
        <div class="provisioned-role-item-entry">
            <span class="provisioned-role-chip chip" aria-label="Janus tag">
                @{policy.provisionedRoleTagValue}
            </span>
        </div>
    </div>
    <div class="provisioned-role-item-aws">
        <div class="provisioned-role-name" aria-label="IAM name of the role in AWS">
            @policy.policyName
        </div>
        <div class="provisioned-role-item-cta">
            <a class="copy-text--button__cta waves-effect waves-light btn" href="@developerPolicyLink(policy.policyName)" target="_blank" rel="noopener noreferrer">
                View in AWS console
                <div class="copy-text__feedback">
                    <i class="material-icons copy-text--default icon-small">open_in_new</i>
                </div>
            </a>
        </div>
    </div>
</li>
