@import logic.DeveloperPolicies.developerPolicyLink

@(policy: DeveloperPolicy, disabled: Boolean = false)

<li class="developer-policy-item">
    <div class="developer-policy-item-janus">
        <div class="developer-policy-item-key">
            @policy.policyGrantId
        </div>
    </div>
    <div class="developer-policy-item-aws expand">
        <div class="developer-policy-description expand" aria-label="Description of role">
            @policy.description.getOrElse("No description.")
        </div>
        <div class="developer-policy-item-policy">
            <div class="developer-policy-name grey-text" aria-label="IAM name of the role in AWS">
                @policy.policyName
            </div>
            <div class="developer-policy-item-cta">
                <a class="copy-text--button__cta waves-effect waves-light btn @if(disabled){disabled}" href="@developerPolicyLink(policy)" target="_blank" rel="noopener noreferrer">
                    View in AWS console
                    <div class="copy-text__feedback">
                        <i class="material-icons copy-text--default icon-small">open_in_new</i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</li>
