@import logic.ProvisionedRoles.{provisionedRoleNameFromArn, provisionedRoleLinkFromArn}

@(role: IamRoleInfo)

<div class="provisioned-role-item">
    <div class="provisioned-role-item-header">
        <span class="provisioned-role-chip">
            @{role.provisionedRoleTagValue}
        </span>
    </div>
    <div class="provisioned-role-item-body">
        <div class="provisioned-role-item-entry">
            @{role.friendlyName.getOrElse("No friendly name")}
        </div>
        <div class="provisioned-role-item-entry">
            @{role.description}
        </div>
        <div class="provisioned-role-item-entry">
            @provisionedRoleNameFromArn(role.roleArn)
        </div>
    </div>
    <div class="provisioned-role-item-cta">
        <div>
            <a class="copy-text--button__cta waves-effect waves-light btn" href="@provisionedRoleLinkFromArn(role.roleArn)" target="_blank" rel="noopener noreferrer">
                View in AWS
                <div class="copy-text__feedback">
                    <i class="material-icons copy-text--default icon-small">open_in_new</i>
                </div>
            </a>
        </div>
    </div>
</div>
