@import logic.ViewHelpers

@(role: IamRoleInfo)

<div class="provisioned-role-item">
    <div class="provisioned-role-item-header">
        <span class="provisioned-role-chip">
            @{role.provisionedRoleTagValue}
        </span>
    </div>
    <div class="provisioned-role-item-body">
        <div class="provisioned-role-item-entry">
            @{role.friendlyName.getOrElse("No friendly name")}
        </div>
        <div class="provisioned-role-item-entry">
            @{role.description}
        </div>
        <div class="provisioned-role-item-entry">
            @ViewHelpers.getSimpleName(role.roleArn)
        </div>
    </div>
    <div class="provisioned-role-item-cta">
        <div class="copy-textarea">
            <textarea id="hidden-role-arn-@{role.roleArn.resource}" class="hidden-role-arn">@{role.roleArn}</textarea>
            <a class="copy-text--button tooltipped copy-text--button__cta waves-effect waves-light btn" href="#"
                data-position="bottom" data-tooltip="@role.roleArn">
                <span class="hide">Copy</span> Arn
                <div class="copy-text__feedback">
                    <i class="material-icons copy-text--default icon-small">content_copy</i>
                    <i class="material-icons copy-text--confirm icon-small">done</i>
                    <i class="material-icons copy-text--warn icon-small">report_problem</i>
                </div>
            </a>
        </div>
        <div>
            <a class="copy-text--button__cta waves-effect waves-light btn" href="@role.roleArn" target="_blank" rel="noopener noreferrer">
                <span class="hide">View in</span> AWS
                <div class="copy-text__feedback">
                    <i class="material-icons copy-text--default icon-small">open_in_new</i>
                </div>
            </a>
        </div>
    </div>
</div>
