@import com.gu.janus.model.{AwsAccount, JanusData}
@import com.gu.googleauth.UserIdentity
@import play.api.Mode
@import scala.util.Try

@import com.gu.janus.model.Permission
@import scala.util.Failure
@import scala.util.Success
@import logic.ViewHelpers
@import models.AccountInfo
@(accountOwners: Set[AccountInfo], user: UserIdentity, janusData: JanusData)(implicit request: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Accounts", Some(user), janusData) {
  <div class="container">

        <h1 class="header orange-text">Accounts</h1>
        @janusData.permissionsRepo match {
          case Some(permissionsRepo) => {
              <p>
                  Refer to <a href="@permissionsRepo">Janus' configuration</a> for full details on who has what access to each AWS account.
              </p>
          }
          case None => {
              <p>Refer to Janus' configuration for full details on who has what access to each AWS account.</p>
          }
        }
        <table>
            <tr>
                <th>
                    Account
                </th>
                <th>
                    Account Number
                </th>
                <th>
                    Owners
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Audit
                </th>
            </tr>

            @for(AccountInfo(account, owners, tryAccountNumber, rolesStatuses, rolesError) <- accountOwners.toList.sortBy(_.account.name)) {
              <tr>

                <td>
                    @account.name
                </td>
                <td>
                            @tryAccountNumber match {
                                case Failure(_) => {
                                    -
                            }
                                case Success(accountNumber) => {
                                    @accountNumber
                                }
                            }
                </td>
                <td>
                        <a class="grey-text darken-2" href="/users/account/@account.authConfigKey">
                            @owners.size
                            <i class="material-icons tiny minor-header-icon">person</i>
                        </a>
                </td>
                <td>
                    <a class="grey-text darken-2" href="/roles-status/account/@account.authConfigKey">
                    @rolesStatuses.size
                    <i class="material-icons tiny minor-header-icon">handyman</i>
                    @for(roleErrorText <- rolesError) {
                        <i class="error material-icons tiny minor-header-icon" title="@roleErrorText">error_outline</i>
                    }
                    </a>
                </td>
                <td>
                        <a class="grey-text darken-2" href="/audit/account/@account.authConfigKey">View Audit Trail <i class="material-icons">assignment</i></a>
                </td>
              </tr>

        }
        </table>
  </div>
}
