@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccount, JanusData}
@import logic.Date.{formatTime, formatDateTime, formatDuration}
@import models.IamRoleInfo
@import play.api.Mode
@import software.amazon.awssdk.arns.Arn
@import scala.jdk.OptionConverters.*

@import scala.concurrent.duration.FiniteDuration
@(accountRolesAndStatus: List[(AwsAccount, AwsAccountIamRoleInfoStatus)], serviceEnabled: Boolean, refreshFrequency: FiniteDuration, user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main(s"Roles Status", Some(user), janusData) {
    <div class="container">
        <div class="provisioned-role-service-config right valign-wrapper">
            @if(serviceEnabled) {
                <span class="grey-text">Roles update every @formatDuration(refreshFrequency)</span>
            } else {
                <span class="grey-text">service disabled</span>
                <i class="material-icons small">sync_problem</i>
            }
        </div>
        <h1 class="header orange-text">Provisioned roles</h1>
        @if(accountRolesAndStatus.empty) {
          <p>No Accounts and Roles found</p>
        } else {
            <ul class="collection">
                @for((account, status) <- accountRolesAndStatus) {
                    <li class="collection-item">
                        @(status.roleSnapshot, status.failureStatus) match {
                            case (_, Some(failure)) => {
                                <div class="provisioned-roles-account-header">
                                    <span role="heading" aria-level="2">@account.name</span>
                                    <div class="right valign-wrapper tooltipped"
                                      data-position="bottom" data-tooltip="last updated (UK time)">
                                        <span class="provisioned-roles-account-updated grey-text">
                                            <span class="hide-on-med-and-down">
                                                @formatDateTime(failure.timestamp)
                                            </span>
                                            <span class="hide-on-large-only">
                                                @formatTime(failure.timestamp)
                                            </span>
                                        </span>
                                        <i class="error material-icons small">error_outline</i>
                                    </div>
                                </div>
                                <div class="provisioned-role-error">
                                    <p>
                                        Failed to load provisioned roles, role information may be out of date.
                                    </p>
                                    <p class="grey-text">
                                        @failure.failure
                                    </p>
                                </div>
                            }
                            case (Some(roles), _) => {
                                <div class="provisioned-roles-account-header">
                                    <span role="heading" aria-level="2">@account.name</span>
                                    <div class="right valign-wrapper tooltipped"
                                      data-position="bottom" data-tooltip="last updated (UK time)">
                                        <span class="provisioned-roles-account-updated grey-text">
                                            <span class="hide-on-med-and-down">
                                                @formatDateTime(roles.timestamp)
                                            </span>
                                            <span class="hide-on-large-only">
                                                @formatTime(roles.timestamp)
                                            </span>
                                        </span>
                                        <i class="success material-icons small">check</i>
                                    </div>
                                </div>
                            }
                            case (None, None) => {
                                <div class="provisioned-roles-account-header">
                                    <span role="heading" aria-level="2">@account.name</span>
                                    <span class="right">
                                        @if(serviceEnabled) {
                                            <i class="material-icons small rotate">autorenew</i>
                                        } else {
                                            <i class="material-icons small">sync_problem</i>
                                        }
                                    </span>
                                </div>
                                @if(serviceEnabled) {
                                    <p class="provisioned-role-notice">
                                        Provisioned role information has not yet been loaded.
                                          Please wait a few moments and refresh the page.
                                    </p>
                                } else {
                                    <p class="provisioned-role-error">
                                        Provisioned role information is not available
                                          because the sync service is disabled.
                                    </p>
                                }
                            }
                        }

                        @status.roleSnapshot match {
                            case Some(rolesStatus) if rolesStatus.roles.nonEmpty => {
                                <div class="provisioned-roles-container">
                                    @for(role <- rolesStatus.roles) {
                                        @fragments.roleList(role)
                                    }
                                </div>
                            }
                            case _ => {
                                <div class="provisioned-role-empty center-align grey-text">
                                    <i class="material-icons medium">not_interested</i>
                                    <br/>
                                    No roles found in this account
                                </div>
                            }
                        }
                    </li>
                }
            </ul>
        }
    </div>
}
