@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccount, JanusData}
@import models.IamRoleInfo
@import play.api.Mode
@import software.amazon.awssdk.arns.Arn
@import scala.jdk.OptionConverters.*

@(accountRolesAndStatus: Map[String, (List[IamRoleInfo], Option[String])], user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main(s"Roles Status", Some(user), janusData) {
    <div class="container">

        <div class="row">
            <div class="col s12">
                <h1 class="header orange-text">Accounts Roles</h1>
            </div>
        </div>
        @if(accountRolesAndStatus.empty) {
          <p>No Accounts and Roles found</p>
        } else {
            <div class="collection">
                <table class="striped responsive-table">
                    <tr>
                        <th>
                            Account Name
                        </th>
                        <th>
                            Roles
                        </th>
                    </tr>
                    @for((account, (roles, failure)) <- accountRolesAndStatus.toList.sortBy(_._1)) {
                        <tr>
                            <td>
                                @account
                            </td>
                            <td>
                              <ul>
                                  @fragments.roleList(failure, roles.sortBy(_.friendlyName))
                              </ul>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
}
