@import com.gu.janus.model.{AwsAccountAccess, JanusData, Role}
@import com.gu.googleauth.UserIdentity
@import play.api.Mode

@(accountAccesses: List[AwsAccountAccess], roleAccess: List[Role], user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Admin", Some(user), janusData) {
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="header orange-text">Admin</h1>
                <div class="card-panel">
                    <span>
                        As an administrator you have full access to all AWS accounts.
                        Please use this with care and try to let the team know what
                        you are doing to their account.
                        <br />
                        Janus access is logged and visible to all users.
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l8">
                <h5>Direct AWS Account Access</h5>
                <div class="accounts-pane">
                    @if(accountAccesses.isEmpty) {
                        <div class="card grey lighten-4">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-2">No direct account access</span>
                                <p class="grey-text">You don't currently have any direct AWS account permissions assigned.</p>
                            </div>
                        </div>
                    } else {
                        @fragments.awsAccounts(accountAccesses, allowFavs = false)
                    }
                </div>
            </div>
            <div class="col s12 m12 l4">
                <h5>Role-based Access</h5>
                <div class="roles-pane">
                    @fragments.roles(roleAccess)
                </div>
            </div>
        </div>
    </div>

    @fragments.multiSelectHero()

}
