@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.JanusData
@import models.{AwsAccountAccess, DeveloperPolicyCacheStatus}
@import logic.ViewHelpers.BannerLevel
@import play.api.Mode

@(accountAccesses: List[AwsAccountAccess], cacheStatus: DeveloperPolicyCacheStatus, user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Admin", Some(user), janusData) {
    @cacheStatus match {
        case DeveloperPolicyCacheStatus.Failure => {
            @fragments.bannerCta("Developer policy status", BannerLevel.Error) {
                Developer policy failures detected - this may mean some permissions are not showing.
            } {
                <a href="@routes.AccountsController.accountDeveloperPolicies">status page</a>
            }
        }
        case DeveloperPolicyCacheStatus.Empty => {
            @fragments.banner("Developer policy status", BannerLevel.Warn) {
                Developer policy cache is empty - this may mean some permissions are not showing. Try refreshing in a few moments.
            }
        }
        case DeveloperPolicyCacheStatus.Disabled => {
            @fragments.banner("Developer policy status", BannerLevel.Error) {
                The developer policy service is disabled - this may mean some permissions are not showing. Please contact DevX Security for further information.
            }
        }
        case DeveloperPolicyCacheStatus.Success => {}
    }
    @fragments.banner("Admin access notice", BannerLevel.Info) {
        As an administrator you have full access to all AWS accounts. Please use this with care and try to let the team know what you are doing to their account. Janus access is logged and visible to all users.
    }
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="header orange-text">Admin</h1>
            </div>
        </div>

        <div class="admin-accounts-container">
            @fragments.awsAccounts(accountAccesses, allowFavs = false)
        </div>
    </div>

    @fragments.multiSelectHero()

}
