@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccount, JanusData}
@import logic.Date.{formatDateTime, formatTime}
@import play.api.Mode

@(account: AwsAccount, status: AwsAccountDeveloperPolicyStatus, serviceEnabled: Boolean, user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main(s"Developer Policies Status for ${account.name}", Some(user), janusData) {
    <div class="container">
        @(status.policySnapshot, status.failureStatus) match {
            case (_, Some(failure)) => {
                <div class="right valign-wrapper tooltipped"
                data-position="bottom" data-tooltip="last updated (UTC)">
                    <span class="provisioned-roles-account-updated grey-text">
                        <span class="hide-on-med-and-down">
                            @formatDateTime(failure.timestamp)
                        </span>
                        <span class="hide-on-large-only">
                            @formatTime(failure.timestamp)
                        </span>
                    </span>
                    <i class="error material-icons small">error_outline</i>
                </div>
                <h1 class="header orange-text">@account.name developer policy status</h1>

                <div class="provisioned-role-error">
                    <p>
                        Failed to load developer policies. Policy information may be out of date.
                    </p>
                    <p class="grey-text">
                        @failure.failure
                    </p>
                </div>
            }
            case (Some(snapshot), _) => {
                <div class="right valign-wrapper tooltipped"
                data-position="bottom" data-tooltip="last updated (UTC)">
                    <span class="provisioned-roles-account-updated grey-text">
                        <span class="hide-on-med-and-down">
                            @formatDateTime(snapshot.timestamp)
                        </span>
                        <span class="hide-on-large-only">
                            @formatTime(snapshot.timestamp)
                        </span>
                    </span>
                    <i class="success material-icons small">check</i>
                </div>
                <h1 class="header orange-text">@account.name policies status</h1>
            }
            case (None, None) => {
                <span class="right valign-wrapper">
                    @if(serviceEnabled) {
                        <span class="grey-text">Sync not yet completed</span>
                        <i class="material-icons small rotate">autorenew</i>
                    } else {
                        <span class="grey-text">Sync service disabled</span>
                        <i class="material-icons small">sync_problem</i>
                    }
                </span>
                <h1 class="header orange-text">@account.name policies status</h1>
                @if(serviceEnabled) {
                    <p class="provisioned-role-notice">
                        Developer policy information has not yet been loaded.
                          Please wait a few moments and refresh the page.
                    </p>
                } else {
                    <p class="provisioned-role-error">
                        Developer policy information is not available
                          because the sync service is disabled.
                    </p>
                }
            }
        }

        @status.policySnapshot match {
            case Some(snapshot) if snapshot.policies.nonEmpty => {
                <ul class="provisioned-roles-container">
                    @for(policy <- snapshot.policies) {
                        @fragments.developerPolicyList(policy)
                    }
                </ul>
            }
            case _ => {
                <div class="provisioned-role-empty center-align grey-text">
                    <i class="material-icons medium">not_interested</i>
                    <br/>
                    No developer policies found in this account.
                </div>
            }
        }

    </div>
}
