@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccountAccess, JanusData}
@import helper.*
@import models.DisplayMode
@import play.api.Mode

@(accountAccesses: List[AwsAccountAccess], user: UserIdentity, janusData: JanusData, displayMode: DisplayMode, passkeysEnabled: Boolean)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Your permissions", Some(user), janusData, displayMode) {
    <div class="container">
        <h1 class="header orange-text hide">Your permissions</h1>
        <div class="index-main__container">
            @form(routes.Janus.favourite()) {
                @CSRF.formField
                @fragments.awsAccounts(accountAccesses, allowFavs = true, displayMode, passkeysEnabled = passkeysEnabled)
            }
        </div>
        <div class="row">
            <div class="col">
                <p>
                    If these permissions don't seem right, you can check them in
                    @janusData.permissionsRepo match {
                        case None => {
                            Janus' configuration.
                        }
                        case Some(repoUrl) => {
                            <a href="@repoUrl">Janus' configuration</a>.
                        }
                    }
                </p>
            </div>
        </div>
    </div>

    @fragments.multiSelectHero(passkeysEnabled = passkeysEnabled)
}
