@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccountAccess, JanusData, Role}
@import helper.*
@import models.DisplayMode
@import play.api.Mode

@(accountAccesses: List[AwsAccountAccess], roleAccess: List[Role], user: UserIdentity, janusData: JanusData, displayMode: DisplayMode)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Your permissions", Some(user), janusData, displayMode) {
    <div class="permissions-layout">
        <div class="permissions-layout__main">
            <div class="permissions-layout__column permissions-layout__column--accounts">
                <h5 class="permissions-layout__heading">Direct AWS Account Access</h5>
                @if(accountAccesses.isEmpty) {
                    <div class="card grey lighten-4">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-2">No direct account access</span>
                            <p class="grey-text">You don't currently have any direct AWS account permissions assigned.</p>
                        </div>
                    </div>
                } else {
                    @form(routes.Janus.favourite()) {
                        @CSRF.formField
                        <div class="accounts-pane">
                            @fragments.awsAccounts(accountAccesses, allowFavs = true, displayMode)
                        </div>
                    }
                }
            </div>
            <div class="permissions-layout__column permissions-layout__column--roles">
                <h5 class="permissions-layout__heading">Role-based Access</h5>
                <div class="roles-pane">
                    @fragments.roles(roleAccess, displayMode)
                </div>
            </div>
        </div>
        <div class="permissions-layout__footer">
            <p>
                If these permissions don't seem right, you can check them in
                @janusData.permissionsRepo match {
                    case None => {
                        Janus' configuration.
                    }
                    case Some(repoUrl) => {
                        <a href="@repoUrl">Janus' configuration</a>.
                    }
                }
            </p>
        </div>
    </div>

    @fragments.multiSelectHero()
}
