@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.JanusData
@import play.api.Mode
@import play.filters.csrf.CSRF
@(user: UserIdentity, janusData: JanusData)(implicit request: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Registration", Some(user), janusData) {

    <div class="container">

        <h1 class="header orange-text">Authentication Mash</h1>

    </div>

    <script>
            console.log("1");
            (async () => {
                console.log("2");
                const response = await fetch("/passkey/auth-options");
                const publicKeyCredentialRequestOptionsJSON = await response.json();
                const credentialGetOptions = PublicKeyCredential.parseRequestOptionsFromJSON(publicKeyCredentialRequestOptionsJSON);
                const publicKeyCredential = await navigator.credentials.get({ publicKey: credentialGetOptions});
                console.log("publicKeyCredential: ", publicKeyCredential);

                const authResponseJSON = publicKeyCredential.toJSON();
                await fetch("/passkey/authenticate", {
                    method: 'POST',
                    headers: {
                        // 'Content-Type': 'application/json',
                        'Content-Type': 'text/plain',
                        'Csrf-Token': '@{CSRF.getToken.get.value}'
                    },
                    body: JSON.stringify(authResponseJSON)
                });
            })();
    </script>

}
