@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.JanusData
@import play.api.Mode
@(provisionedRoles: List[IamRoleInfo], user: UserIdentity, janusData: JanusData)(implicit request: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Provisioned Role Status", Some(user), janusData) {
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <h1 class="header orange-text">Provisioned Role Status</h1>
        <ul>
        @for(role <- provisionedRoles) {
            <li>
                <div>In '@role.account.name' account</div>
                <div>@role.friendlyName</div>
                <div>@role.description</div>
                <div>Fetched: @role.lastFetched</div>
            </li>
        }
        </ul>
    </div>
}
