@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.JanusData
@import play.api.Mode
@import com.gu.janus.model.AwsAccount
@(provisionedRoleStatus: Map[AwsAccount, AwsAccountIamRoleInfoStatus], user: UserIdentity, janusData: JanusData)(implicit request: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Provisioned Role Status", Some(user), janusData) {
    <div class="container">
        <h1 class="header orange-text">Provisioned Role Status</h1>
        @for((account, status) <- provisionedRoleStatus) {
            <div class="card card--aws-account">
                <div class="card-content card-content--aws-account-header">
                    <h5 class="card-content--aws-account-header__title">@account.name</h5>
                </div>
                @status.roleSnapshot.map { snapshot =>
                    <div class="card">
                        <div class="card-content">
                            <strong>LAST READ</strong>
                            <div>@snapshot.timestamp</div>
                            <div>
                                @for(role <- snapshot.roles) {
                                    <div>Role Tag: @role.provisionedRoleTagValue</div>
                                    <div>Name: @role.friendlyName</div>
                                    <div>Description: @role.description</div>
                                }
                            </div>
                            @if(snapshot.roles.isEmpty) {
                                <div>No roles found.</div>
                            }
                        </div>
                    </div>
                }
                @status.failureStatus.map { failure =>
                    <div class="card">
                        <div class="card-content">
                            <strong>FAILED</strong>
                            <div>@failure.timestamp</div>
                            <div>@failure.failure</div>
                        </div>
                    </div>
                }
            </div>
        }
        @if(provisionedRoleStatus.isEmpty) {
            <div class="card">
                <div class="card-content">Cache is empty.</div>
            </div>
        }
        @if(provisionedRoleStatus.isEmpty) {
          <div>Cache is empty.</div>
        }
    </div>
}
