@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.JanusData
@import play.api.Mode
@import com.gu.janus.model.AwsAccount
@(provisionedRoleStatus: Map[AwsAccount, AwsAccountIamRoleInfoStatus], user: UserIdentity, janusData: JanusData)(implicit request: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Provisioned Role Status", Some(user), janusData) {
    <div class="container">
        <h1 class="header orange-text">Provisioned Role Status</h1>
        @for((account, status) <- provisionedRoleStatus) {
            <div class="card card--aws-account">
                <div class="card-content card-content--aws-account-header">
                    <h5 class="card-content--aws-account-header__title">@account.name</h5>
                </div>
                @status.roleSnapshot.map { snapshot =>
                    <div class="card-action">
                        <strong>LAST READ</strong>
                        <div>@snapshot.timestamp</div>
                        <div>Role Tags: @snapshot.roles.map(_.provisionedRoleTagValue).mkString(", ")</div>
                        <div>Names: @snapshot.roles.map(_.friendlyName).mkString(", ")</div>
                        <div>Descriptions: @snapshot.roles.map(_.description).mkString(", ")</div>
                    </div>
                }
                @status.failureStatus.map { failure =>
                    <div class="card-action">
                        <strong>FAILED</strong>
                        <div>@failure.timestamp</div>
                        <div>@failure.failure</div>
                    </div>
                }
            </div>
        }
        @if(provisionedRoleStatus.isEmpty) {
            <div class="card">
                <div class="card-content">
                    Cache is empty.
                </div>
            </div>
        }
    </div>
}
