@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccount, JanusData}
@import logic.Date.{formatTime, formatDateTime, formatDuration}
@import models.IamRoleInfo
@import play.api.Mode

@import scala.jdk.OptionConverters.RichOptional

@(account: AwsAccount, roleStatus: AwsAccountIamRoleInfoStatus, serviceEnabled: Boolean, user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main(s"Role Status for ${account.name}", Some(user), janusData) {
    <div class="container">
        @(roleStatus.roleSnapshot, roleStatus.failureStatus) match {
            case (_, Some(failure)) => {
                <div class="right valign-wrapper tooltipped"
                data-position="bottom" data-tooltip="last updated (UK time)">
                    <span class="provisioned-roles-account-updated grey-text">
                        <span class="hide-on-med-and-down">
                            @formatDateTime(failure.timestamp)
                        </span>
                        <span class="hide-on-large-only">
                            @formatTime(failure.timestamp)
                        </span>
                    </span>
                    <i class="error material-icons small">error_outline</i>
                </div>
                <h1 class="header orange-text">@account.name roles status</h1>

                <div class="provisioned-role-error">
                    <p>
                        Failed to load provisioned roles, role information may be out of date.
                    </p>
                    <p class="grey-text">
                        @failure.failure
                    </p>
                </div>
            }
            case (Some(roles), _) => {
                <div class="right valign-wrapper tooltipped"
                data-position="bottom" data-tooltip="last updated (UK time)">
                    <span class="provisioned-roles-account-updated grey-text">
                        <span class="hide-on-med-and-down">
                            @formatDateTime(roles.timestamp)
                        </span>
                        <span class="hide-on-large-only">
                            @formatTime(roles.timestamp)
                        </span>
                    </span>
                    <i class="success material-icons small">check</i>
                </div>
                <h1 class="header orange-text">@account.name roles status</h1>
            }
            case (None, None) => {
                <span class="right valign-wrapper">
                    @if(serviceEnabled) {
                        <span class="grey-text">Sync not yet completed</span>
                        <i class="material-icons small rotate">autorenew</i>
                    } else {
                        <span class="grey-text">Sync service disabled</span>
                        <i class="material-icons small">sync_problem</i>
                    }
                </span>
                <h1 class="header orange-text">@account.name roles status</h1>
                @if(serviceEnabled) {
                    <p class="provisioned-role-notice">
                        Provisioned role information has not yet been loaded.
                          Please wait a few moments and refresh the page.
                    </p>
                } else {
                    <p class="provisioned-role-error">
                        Provisioned role information is not available
                          because the sync service is disabled.
                    </p>
                }
            }
        }

        @roleStatus.roleSnapshot match {
            case Some(rolesStatus) if rolesStatus.roles.nonEmpty => {
                <ul class="provisioned-roles-container">
                    @for(role <- rolesStatus.roles) {
                        @fragments.roleList(role)
                    }
                </ul>
            }
            case _ => {
                <div class="provisioned-role-empty center-align grey-text">
                    <i class="material-icons medium">not_interested</i>
                    <br/>
                    No roles found in this account
                </div>
            }
        }

    </div>
}
