@import com.gu.googleauth.UserIdentity
@import com.gu.janus.model.{AwsAccount, JanusData}
@import models.IamRoleInfo
@import play.api.Mode

@(accountName: String, roles: List[IamRoleInfo], failure: Option[String], user: UserIdentity, janusData: JanusData)(implicit req: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main(s"Roles Status for $accountName", Some(user), janusData) {
    <div class="container">
        <div class="col s12">
            <h1 class="header orange-text">@{accountName} Roles Statuses</h1>
        </div>

        <div class="collection">
            <table class="striped responsive-table">
                <tr>
                    <th>
                        Role
                    </th>
                </tr>
                <tr>
                    <td>
                        <div>
                            @if(failure.isDefined) {
                                <li>
                                    <span class="error">!</span> &nbsp @{failure}
                                    @if(roles.nonEmpty) {
                                        <hr/>
                                        <p>Cached roles</p>
                                    }
                                </li>
                            }

                            @if(roles.isEmpty) {
                                <p>No roles</p>
                            }

                            @for(role <- roles) {
                                <li class="role-list-item" >
                                    <span class="chip">
                                    @{role.provisionedRoleTagValue}
                                    </span>
                                    <span >
                                    @{role.friendlyName.getOrElse("No friendly name")}
                                    </span>
                                    <span >
                                    @{role.roleArn}
                                    </span>
                                </li>
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
