@import com.gu.janus.model.{AwsAccount, JanusData}
@import com.gu.googleauth.UserIdentity
@import play.api.Mode
@import scala.util.Try

@import com.gu.janus.model.Permission
@import scala.util.Failure
@import scala.util.Success
@import logic.ViewHelpers
@import models.AccountInfo
@(accountName: String, users: List[String], user: UserIdentity, janusData: JanusData)(implicit request: RequestHeader, mode: Mode, assetsFinder: AssetsFinder)

@main("Accounts", Some(user), janusData) {
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <h1 class="header orange-text">Users for @{accountName}</h1>
        @fragments.userList(users)
    </div>
}
