# This repo contains an Example app in its own standalone SBT project.
# So this CI workflow runs whenever something changes in that project.
name: CI for the Example app

on:
  # When a PR is merged
  push:
    branches:
      - main
    paths:
      - example/**

  # When a PR is raised (for example, dependency updates from Dependabot or Scala Steward)
  pull_request:
    paths:
      - example/**

  # When a workflow is manually triggered
  workflow_dispatch:

jobs:
  # Compile and run tests
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    defaults:
      run:
        working-directory: ./example

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Scala
        uses: guardian/setup-scala@v1
      - run: >
          sbt 
          compile 
          Test/compile 
          scalafmtCheckAll 
          scalafmtSbtCheck 
          test
